@model IEnumerable<Blue_Ribbon.Models.ReviewLog>

@{
    }

@*Getting the average Rating*@


<h1 class="specialprice">Customer Reviews</h1>

@{ if (Model.Count() > 0)
    {
       var avrRating = Model.Select(a => a.Rating).Average();
        string tRating = avrRating.ToString();


<h5>
    Average:

    @*Creating stars using the average Rating*@
    @for (int i = 0; i < (int)@avrRating; i++)
    {
        <i class="fa fa-star rating-star" aria-hidden="true"></i>

    }
    @if (avrRating % 1 != 0)
    {
        <i class="fa fa-star-half-o rating-star" aria-hidden="true"></i>

        avrRating = avrRating + 1;
    }

    @for (int i = (int)avrRating; i < 5; i++)
    {
        <i class="fa fa-star-o rating-star" aria-hidden="true"></i>
    }
    &nbsp;
    @Model.Count() Customer Reviews
</h5>
<h6>@tRating.ToString() out of 5 Stars</h6>
        }

    }


<hr />

 


@*If the Model count is not 0, listing the fist 3 reviews then a link for viewing all the reviews*@

@if (Model.Count() != 0)
{
    foreach (var item in Model.Take(3))
    {
        <p>
            @{int x = (int)item.Rating;}

            @for (int i = 0; i < x; i++)
            {
                <i class="fa fa-star rating-star" aria-hidden="true"></i>
            }
            @for (int i = x; i < 5; i++)
            {
                <i class="fa fa-star-o rating-star" aria-hidden="true"></i>
            }
             &nbsp;
            
            <bold>@item.ReviewSubject</bold>

        </p>

        <p class="review-text">

            @item.ReviewBody
        </p>
    }

     @*Link to the Product page with all the reviews*@
    <button class="btn btn-primary" style="align-content:center; white-space:normal;">
        @Html.ActionLink("More Reviews ", "Index", "AllReviews", new { id = Model.First().ASIN },
                    new { target = "_blank", @style = "color:white; text-decoration:none;" })
        <span class="glyphicon glyphicon-new-window"></span>
        </button>

        }
        else
        {
        <p class="review-text">
            No Reviews yet for this product!
        </p>
        }

<hr />




